html {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: "Montserrat-Black";
    font-size: 4.2rem;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
    font-weight: bold;
}

.title-content {
    margin-top: 70px;
}

.download-button {
    margin: 20px;
    width: 40%;
    padding: 15px 0 15px;
}

.iphone-image {
    transform: rotate(30deg);
    margin-left: 200px;
    width: 40%;
}

.top-portion {
    padding: 3% 15%;
    background-color: #ff4c68;
    color: #fff;
}

.navbar {
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

#features {
    padding: 100px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    font-weight: bolder;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

#testimonials {
    padding: 100px;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.logo-press {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 3%;
    text-align: center;
}

.pricing-col {
    padding: 3% 5%;
    text-align: center;
}

#title {
    padding-bottom: 0px;
}

.cta-dsc {
    font-family: "Montserrat-Bold";
    padding: 100px 0px 25px;
    color: #fff;
    font-weight: bolder;
    font-size: 2.75rem;
}

#cta {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 100px;
}

.download-button-last {
    margin: 20px;
    width: 15%;
    padding: 15px 0 15px;
}

#footer {
    padding: 100px;
    text-align: center;
    background-color: #fff;
}

.icons {
    padding: 10px;
}

@media (max-width: 1243px) {
    #title {
        text-align: center;
    }
    .iphone-image {
        width: 0%;
    }
}